@import "../utils/hover.scss";
@import "../utils/colors.scss";

.fonction{
    counter-reset:etapes;
    & ol{
        display: flex;
        gap:30px;
        @media (max-width: 1000px) {
            flex-direction: column;
        }
    }
    & li{
        position: relative;
        &::before{
            content: counter(etapes);
            counter-increment: etapes;
            color:white;
            background-color: $primary-color;
            padding: 6px 10px;
            border-radius: 50%;
            display:grid;
            place-items: center;
            position: absolute;
            bottom: 15px;
            left:-15px;
        }
       background-color: #f6f6f6; 
       padding : 20px 30px;
       flex-grow: 1;
       border-radius: 15px;
       list-style: none;
       @include base-shadow;
       &:hover{
        @include hover;
       }
       & i.fas{
        margin-right: 15px;
        color:$light-grey;
        font-size: 20px;
       }
    }
}