@import "../utils/hover.scss";


.fonction{
    & ol{
        display: flex;
        flex-wrap: wrap;
        gap:15px;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
    & li{
       background-color: #f6f6f6; 
       padding : 15px 30px;
       border: 1px solid red;
       flex-grow: 1;
       border-radius: 15px;
       @include base-shadow;
       &:hover{
        @include hover;
       }
    }
}