@import "../utils/colors.scss";
footer{
    background-color: $dark-grey;
    padding: 25px 25px;
    color: white;
     h2{
        font-family: "shrikhand","sans-serif";
        font-weight: 300;
        font-size:20px;
        padding: 18px 0px;
    }
    .footer-ico-link{
        display: flex;
        gap:10px;
        margin-bottom: 5px;
    }
    
   a{
    display: block;
    padding-top:5px;
   }
    
}